.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.div-listado{
  width: 98%;
  height: calc(100% - 50px);
  margin: 15px 15px;
  background-color:  rgb(100, 132, 132);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

}
.div-listado{
  margin-top: 10px;
  font-weight: 300;
  font-size: 2em;

}

.div-listado .div-empleados p{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 0 30px;
}
.div-listado .div-empleados p{
  margin: 10px 0;
  font-size: 1em;
  color: #ddd;
  
}
hr{
  width: 100%;
  height: 1px;
}

.btn{
  padding: 5px 10px;
  border: none;
  margin: 0 5px;
  color: white;
  border-radius:50px;
}

.btn.editar{
  background-color: green;

}
.btn.eliminar{
  background-color: red;
}